---
import { astroCalledServerError } from "astro:actions";
import Ryotaro from "../components/ryotaro.astro";
import Rand from "../components/rand.astro";
const name = "りょうちゃん" ;
const now = new Date();
const timeStr = now.toLocaleTimeString('ja-JP', { 
  timeZone: 'Asia/Tokyo',
  hour12: false,
  hour: '2-digit',
  minute: '2-digit',
  second: '2-digit'
});
const url = "https://yahoo.co.jp/"
---
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name = "generator" content={Astro.generator} />
        <title>変数の利用</title>
    </head>
    <body>
        <h1>Atro変数勉強</h1>
        <p>こんにちは！{name}さんかな</p>
        <p>ただいまの時刻は{timeStr}です</p>
        <hr>
        <Ryotaro
            title ="Propsの利用、これはtitle"
            content="Propsnの利用これはコンテンツ" />
        <Ryotaro
            title ="title2"
            content="コンテンツ2" />         
    </body>
    </html>